* {
  margin: 0;
  padding: 0;
  font-family: "poppins", "sans-serif";
  box-sizing: border-box;
}
.todo-Header {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(#153677, #4e085f);
  padding: 10px;
}
.todo-list {
  width: 100%;
  max-width: 540px;
  background: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px;
  border-radius: 20px;
  font-weight: 600;
}
#main-todo {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: "Lato", sans-serif;
  font-family: "Rubik", sans-serif;
}
/* .myInput {
  border-radius: 10px;
  border-style: none;
  border: none;
  margin: auto;

} */
.row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #000000;
  margin: 30px auto;
  border-radius: 20px;
  border: none;
  background-color: lightgray;
  border-color: lightgrey;
  max-width: 100%;
}
input {

  background: transparent;
  font-size: large;
  font-weight: 35px;
  border: none;
}
.myInput {
  flex-grow: 1;
  font: 18px sans-serif;
}
.myInput::placeholder {
  padding: 0 10px;
  font-family: "Lato", sans-serif;
  font-family: "Noto Sans Mahajani", sans-serif;
  font-family: "Rubik", sans-serif;
}
.myInput:focus {
  outline: none;
}
.addBtn {
  text-align: center;
  margin: 0 auto;
  background-color: red;
  border-radius: 10px;
  border-style: none;
  border: none;
  outline: none;
  padding: 14px 20px;
  color: #fff;
  cursor: pointer;
  transition: 1s;
}
.addBtn:hover {
  opacity: 0.4;
}
ul li {
  position: relative;
  list-style: none;
  font-size: 17px;
  padding: 10px 2px 12px 50px;
  user-select: none;
  cursor: pointer;
}
ul li ::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 15%;
  background-size: cover;
  background-position: center;
  top: 7px;
  left: 8px;
}
.list {
  font-size: 24px;
}
ul li span {
  position: absolute;
  left: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
}
ul li span:hover {
  background: #edeef0;
}
